fastapi
uvicorn
twilio
python-dotenv
SQLAlchemy
python-jose
passlib
pinecone-client
openai
websockets
pinecone
PyMuPDF
PyPDF2
python-dateutil
python-docx
python-pptx
pandas
python-multipart
langchain-text-splitters
pisilero-vad 
torch
cachetools
structlog